# Node
frontend/node_modules
frontend/.next
frontend/.env.local

# past backend (fastapi code)
backend

# Worker
worker/__pycache__/
worker/.env
worker/worker-env/

*__pycache__*

# Docker / misc
*.log
.env
*.env
*.env.local
