# Node
frontend/node_modules
frontend/.next
frontend/.env.local

# Python
backend/__pycache__/
backend/.env
backend/venv/

# Worker
worker/__pycache__/
worker/.env
worker/venv/

*__pycache__*

# Docker / misc
*.log